Repository falcosecurity/plugins, pull requests merged in 2022-09, with the labels that each got.

#144 chore: bump plugin-sdk-go v0.6.0-rc2 (plugin API v2)
  build/readme/go.mod
  build/readme/go.sum
  plugins/cloudtrail/go.mod
  plugins/cloudtrail/go.sum
  plugins/dummy/go.mod
  plugins/dummy/go.sum
  plugins/github/go.mod
  plugins/github/go.sum
  plugins/json/go.mod
  plugins/json/go.sum
  plugins/k8saudit/go.mod
  plugins/k8saudit/go.sum
  plugins/okta/go.mod
  plugins/okta/go.sum
Labels: kind/feature, dco-signoff: yes, approved, size/M, lgtm, area/build, area/plugins

#143 add ka.sourceips in k8saudit plugin
  plugins/k8saudit/README.md
  plugins/k8saudit/pkg/k8saudit/extract.go
  plugins/k8saudit/pkg/k8saudit/fields.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, ok-to-test, area/plugins

#146 add containerd.sock to sensitive_vol_mount
  plugins/k8saudit/rules/k8s_audit_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, needs-ok-to-test, area/plugins

#149 docs(k8saudit): update README.md
  plugins/k8saudit/README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#150 build: do not include README.md in packages
  Makefile
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, kind/design, area/build

#153 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#154 chore(registry.yaml): dummy change just to trigger the CI
  registry.yaml
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/registry

#155 chore(registry.yaml): dummy in upper case
  registry.yaml
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/registry

#160 chore(registry.yaml): triggering the CI
  registry.yaml
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup

#161 chore(registry.yaml): trigger the CI
  registry.yaml
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/registry

#159 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#156 add new fields with count of failed and denied MFA requests
  plugins/okta/.gitignore
  plugins/okta/Makefile
  plugins/okta/README.md
  plugins/okta/go.mod
  plugins/okta/go.sum
  plugins/okta/pkg/okta/okta.go
  plugins/okta/rules/okta_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/plugins

#163 fix(okta): correct version (release candidate)
  plugins/okta/pkg/okta/okta.go
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/plugins
