Repository falcosecurity/plugins, pull requests merged in 2022-05, with the labels that each got.

#91 update(cloudtrail): Always fill in ct.info and add ct.managementevent
  plugins/cloudtrail/extract.go
Labels: dco-signoff: yes, approved, size/M, lgtm, kind/cleanup, ok-to-test, area/plugins

#96 build: rules releases
  Makefile
Labels: kind/feature, dco-signoff: yes, approved, size/M, lgtm, area/build

#97 update(plugins): bump sdk version in go plugins
  plugins/cloudtrail/cloudtrail.go
  plugins/cloudtrail/go.mod
  plugins/cloudtrail/go.sum
  plugins/dummy/dummy.go
  plugins/dummy/go.mod
  plugins/dummy/go.sum
  plugins/json/go.mod
  plugins/json/go.sum
  plugins/k8saudit/go.mod
  plugins/k8saudit/go.sum
  plugins/k8saudit/source.go
  plugins/okta/go.mod
  plugins/okta/go.sum
  plugins/okta/main.go
Labels: dco-signoff: yes, approved, size/M, lgtm, kind/cleanup, area/plugins

#99 chore(Makefile): remove leftover
  Makefile
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/build

#101 docs(plugins/k8saudit): add readme
  plugins/k8saudit/README.md
Labels: kind/documentation, dco-signoff: yes, approved, lgtm, size/L, area/plugins

#102 fix(plugins/k8saudit): fix webserver host resolution
  plugins/k8saudit/README.md
  plugins/k8saudit/pkg/k8saudit/source.go
Labels: kind/bug, dco-signoff: yes, approved, size/M, lgtm, area/plugins

#103 docs: best practices - directory layout
  docs/best-practices.md
Labels: kind/documentation, dco-signoff: yes, approved, size/M, lgtm, kind/cleanup, area/documentation

#105 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation
