Repository falcosecurity/plugins, pull requests merged in 2022-04, with the labels that each got.

#86 update(plugins): bump Go sdk version
  plugins/cloudtrail/go.mod
  plugins/cloudtrail/go.sum
  plugins/dummy/dummy.go
  plugins/dummy/go.mod
  plugins/dummy/go.sum
  plugins/json/go.mod
  plugins/json/go.sum
  plugins/json/json.go
  plugins/json/json_test.go
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, area/build, size/L, area/plugins

#87 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#88 chore(build): allow publishing packages without README.md
  Makefile
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/build

#90 update(plugins/k8saudit): bug fixes, code polishing, better alignment with legacy implementation
  plugins/k8saudit/pkg/k8saudit/extract.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, kind/cleanup, size/XL, area/plugins
