Repository falcosecurity/plugins, pull requests merged in 2022-11, with the labels that each got.

#184 fix(plugins/k8saudit): Recursively parse the files in a directory
  plugins/k8saudit/pkg/k8saudit/source.go
Labels: kind/bug, dco-signoff: yes, approved, size/M, lgtm, needs-ok-to-test, area/plugins

#187 fix(plugins/k8saudit): prevent panics while shutting down webserver
  plugins/k8saudit/pkg/k8saudit/source.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#189 Register nomad plugin
  registry.yaml
Labels: dco-signoff: yes, approved, lgtm, size/S, needs-ok-to-test
