Repository falcosecurity/plugins, pull requests merged in 2022-06, with the labels that each got.

#111 fix(plugins/k8saudit): drop events larger than max evt size
  plugins/k8saudit/pkg/k8saudit/config.go
  plugins/k8saudit/pkg/k8saudit/source.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#94 Update cloudtrail plugin doc
  plugins/cloudtrail/README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation, ok-to-test

#114 update(plugins/k8saudit): adapt plugin for plugin-sdk-go v0.4.0
  plugins/okta/go.mod
  plugins/okta/go.sum
  plugins/okta/pkg/okta/okta.go
  plugins/okta/plugin/okta.go
Labels: kind/bug, kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#122 refactor(plugins/k8saudit): re-implement k8saudit event source using the SDK Go prebuilts
  plugins/k8saudit/go.mod
  plugins/k8saudit/go.sum
  plugins/k8saudit/pkg/k8saudit/source.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, kind/design, size/XL, area/plugins

#128 update(plugins/dummy): update changelog
  plugins/dummy/CHANGELOG.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation
