Repository falcosecurity/plugins, pull requests merged in 2022-03, with the labels that each got.

#78 update(plugins): bump SDK Go version
  plugins/cloudtrail/cloudtrail.go
  plugins/cloudtrail/go.mod
  plugins/cloudtrail/go.sum
  plugins/dummy/dummy.go
  plugins/dummy/go.mod
  plugins/dummy/go.sum
  plugins/json/go.mod
  plugins/json/go.sum
  plugins/json/json.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, area/build, size/L, area/plugins

#81 register new plugin for Okta
  .github/workflows/codeql-analysis.yml
  plugins/okta/LICENSE
  plugins/okta/Makefile
  plugins/okta/README.md
  plugins/okta/go.mod
  plugins/okta/go.sum
  plugins/okta/main.go
  registry.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/XXL, area/plugins

#83 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation
