Repository falcosecurity/plugins, pull requests merged in 2023-09, with the labels that each got.

#333 new(dummy): add an example rule for the dummy plugin
  plugins/dummy/dummy_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#334 fix(plugins/gcpaudit) correct module name
  plugins/gcpaudit/go.mod
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#335 fix(plugins/gcpaudit): properly import gcpaudit package
  plugins/gcpaudit/plugin/plugin.go
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/plugins

#332 feat(plugins/gcp): extract more gcp fields
  plugins/gcpaudit/pkg/gcpaudit/extract.go
Labels: dco-signoff: yes, approved, lgtm, size/L

#337 fix(gha): catch registry update errors during OCI updates
  .github/workflows/upload-oci-artifacts.yaml
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/build

#338 fix(build): do not halt the build on missing rules repository
  build/registry/pkg/oci/oci.go
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/build

#336 fix(plugins/cloudtrail): Generate the correct interval values
  plugins/cloudtrail/pkg/cloudtrail/interval.go
  plugins/cloudtrail/pkg/cloudtrail/source.go
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#339 update(build): update to falcoctl 0.6.0
  build/registry/go.mod
  build/registry/go.sum
  build/registry/pkg/distribution/index.go
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, area/build, size/XL

#340 fix(build): add permissions for push step
  .github/workflows/upload-oci-artifacts.yaml
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/build

#342 update(gcpaudit): bump version to 0.1.3
  plugins/gcpaudit/pkg/gcpaudit/gcpaudit.go
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#346 fix(build): skip non-semver tags during oci publishing
  build/registry/pkg/oci/oci.go
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/build

#347 update(build): temporarily add a job to sign older plugins
  .github/workflows/sign-older-plugins.yaml
Labels: kind/feature, dco-signoff: yes, approved, size/M, lgtm, area/build

#349 cleanup(build): remove sign older plugins
  .github/workflows/sign-older-plugins.yaml
Labels: dco-signoff: yes, approved, size/M, lgtm, kind/cleanup, area/build

#351 update(plugins/gcpaudit): bump version to 0.2.0
  plugins/gcpaudit/pkg/gcpaudit/gcpaudit.go
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/plugins

#352 new(registry): add signature for gcpaudit
  registry.yaml
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, area/registry

#355 fix(plugins/gcp): add missing string conversions
  plugins/gcpaudit/pkg/gcpaudit/extract.go
Labels: dco-signoff: yes, approved, size/M, lgtm

#354 update(registry): add signature info for all official plugins
  registry.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/registry

#357 update(gcpaudit): bump version to 0.2.1
  plugins/gcpaudit/pkg/gcpaudit/gcpaudit.go
Labels: dco-signoff: yes, approved, size/XS, lgtm

#356 update(plugins): bump to-be-released plugin versions.
  plugins/cloudtrail/pkg/cloudtrail/cloudtrail.go
  plugins/dummy/pkg/dummy/dummy.go
  plugins/github/pkg/github/github.go
  plugins/json/pkg/json/json.go
  plugins/k8saudit-eks/pkg/k8sauditeks/k8sauditeks.go
  plugins/k8saudit/pkg/k8saudit/k8saudit.go
  plugins/okta/pkg/okta/okta.go
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, size/S, area/plugins

#358 fix(plugins/gcp): conversion error for empty zone
  plugins/gcpaudit/pkg/gcpaudit/extract.go
Labels: dco-signoff: yes, approved, lgtm, size/S

#359 update(gcpaudit): bump version to 0.2.2
  plugins/gcpaudit/pkg/gcpaudit/gcpaudit.go
Labels: dco-signoff: yes, approved, size/XS, lgtm

#360 update k8saudit-eks readme to explain how to deploy in EKS
  plugins/k8saudit-eks/README.md
Labels: kind/documentation, dco-signoff: yes, approved, lgtm, size/L, area/plugins
