Repository falcosecurity/plugins, pull requests merged in 2023-10, with the labels that each got.

#316 fix(plugins/github): add a check that before and after commit IDs aren't null
  plugins/github/pkg/github/server.go
Labels: kind/bug, dco-signoff: yes, approved, size/M, lgtm, area/plugins

#367 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#370 fix(plugins/cloudtrail): remove wrong return statement when extracting recipientAccountId
  plugins/cloudtrail/pkg/cloudtrail/extract.go
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#371 chore(cloudtrail): bump version to 0.9.1
  plugins/cloudtrail/pkg/cloudtrail/cloudtrail.go
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/plugins
