Repository falcosecurity/plugins, pull requests merged in 2023-05, with the labels that each got.

#242 feat(plugins/k8saudit): include query params in health check url macros
  plugins/k8saudit/rules/k8s_audit_rules.yaml
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, ok-to-test, area/plugins

#279 fix(ci): fix arm64 master and release ci push step
  .github/workflows/push_master.yml
  .github/workflows/release.yml
Labels: kind/bug, dco-signoff: yes, approved, lgtm, area/build, size/S

#280 new(ci): reusable workflows
  .github/workflows/ci.yaml
  .github/workflows/master.yaml
  .github/workflows/release.yml
  .github/workflows/reusable_build_packages.yaml
  .github/workflows/reusable_publish_packages.yaml
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, area/build, size/XL

#284 update(plugins): bump sdk go to latest dev version
  plugins/cloudtrail/go.mod
  plugins/cloudtrail/go.sum
  plugins/json/go.mod
  plugins/json/go.sum
  plugins/k8saudit/go.mod
  plugins/k8saudit/go.sum
Labels: dco-signoff: yes, approved, size/M, lgtm, kind/cleanup, area/plugins

#281 add dnscollector plugin
  registry.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#286 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#287 fix(registry/index): do not add artifact name to keywords if already present
  build/registry/pkg/distribution/index.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/registry

#283 add keywords for k8saudit-plugin
  registry.yaml
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/registry

#289 update(plugins): bump plugin-go-sdk to v0.7.1
  build/readme/go.mod
  build/readme/go.sum
  build/registry/go.mod
  build/registry/go.sum
  plugins/cloudtrail/go.mod
  plugins/cloudtrail/go.sum
  plugins/dummy/go.mod
  plugins/dummy/go.sum
  plugins/github/go.mod
  plugins/github/go.sum
  plugins/json/go.mod
  plugins/json/go.sum
  plugins/k8saudit-eks/go.mod
  plugins/k8saudit-eks/go.sum
  plugins/k8saudit/go.mod
  plugins/k8saudit/go.sum
  plugins/okta/go.mod
  plugins/okta/go.sum
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/plugins

#290 update(plugins): bump to-be-released plugin versions
  plugins/cloudtrail/pkg/cloudtrail/cloudtrail.go
  plugins/cloudtrail/rules/aws_cloudtrail_rules.yaml
  plugins/dummy/pkg/dummy/dummy.go
  plugins/github/pkg/github/github.go
  plugins/github/rules/github.yaml
  plugins/json/pkg/json/json.go
  plugins/k8saudit-eks/pkg/k8sauditeks/k8sauditeks.go
  plugins/k8saudit/pkg/k8saudit/k8saudit.go
  plugins/k8saudit/rules/k8s_audit_rules.yaml
  plugins/okta/pkg/okta/okta.go
  plugins/okta/rules/okta_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, size/S, area/plugins
