Repository falcosecurity/plugins, pull requests merged in 2023-01, with the labels that each got.

#207 feat(build/registry): add config layer to artifacts when pushing to registry
  build/registry/go.mod
  build/registry/go.sum
  build/registry/pkg/common/consts.go
  build/registry/pkg/common/extract.go
  build/registry/pkg/oci/configLayer.go
  build/registry/pkg/oci/dependencies.go
  build/registry/pkg/oci/oci.go
  build/registry/pkg/oci/requirements.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, area/build, size/XL, area/registry

#208 update(build/registry): remove cgo code when extracting required api version from plugins
  build/registry/go.mod
  build/registry/go.sum
  build/registry/pkg/oci/requirements.go
Labels: dco-signoff: yes, approved, size/M, lgtm, kind/cleanup, area/build, area/registry

#209 update(plugins/cloudtrail): More friendly error messages
  plugins/cloudtrail/go.mod
  plugins/cloudtrail/pkg/cloudtrail/source.go
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, size/S, needs-ok-to-test, area/plugins

#212 update(build/registry): do not set the engine_version in semver format in the config file
  build/registry/pkg/oci/requirements.go
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/build, area/registry

#213 docs(plugins/k8saudit-eks): document required aws iam permissions
  plugins/k8saudit-eks/README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/M, lgtm, needs-ok-to-test, area/plugins

#214 update(ci/registry): temporary disable cron job for registry ci
  .github/workflows/upload-oci-artifacts.yaml
Labels: dco-signoff: yes, approved, size/XS, lgtm, area/registry

#218 fix(plugin/k8saudit): Add missing comma to list entry in rule
  plugins/k8saudit/rules/k8s_audit_rules.yaml
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, needs-ok-to-test, area/plugins

#220 update(plugins/dummy): bump version to 8.0 for testing purpose
  plugins/dummy/pkg/dummy/dummy.go
Labels: dco-signoff: yes, approved, size/XS, lgtm, area/build

#215 Add additional known users to eks_allowed_k8s_users
  plugins/k8saudit/rules/k8s_audit_rules.yaml
Labels: dco-signoff: yes, approved, size/XS, lgtm

#221 build(build/registry): bump falcoctl
  build/registry/go.mod
  build/registry/go.sum
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/build

#222 docs(release.md): update the release process
  release.md
Labels: kind/documentation, dco-signoff: yes, approved, lgtm, size/S

#224 chore(registry/oci): bump falcoctl package to v0.3.0-rc2
  build/registry/go.mod
  build/registry/go.sum
Labels: dco-signoff: yes, approved, size/XS, lgtm, area/registry
