Repository falcosecurity/plugins, pull requests merged in 2023-12, with the labels that each got.

#379 new(ci): use actuated arm nodes.
  .github/workflows/reusable_build_packages.yaml
Labels: kind/feature, dco-signoff: yes, approved, size/M, lgtm

#380 chore(CI): bump Falco and Falcoctl to latest versions
  .github/workflows/ci.yaml
  .github/workflows/master.yaml
  .github/workflows/release.yml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, area/build, size/S

#384 update(k8smeta): remove a wrong log
  plugins/k8smeta/src/plugin.cpp
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/plugins

#385 update(registry): add `k8smeta` plugin to the registry
  registry.yaml
Labels: kind/documentation, dco-signoff: yes, approved, lgtm, size/S, area/registry

#388 update(k8smeta): change plugin version to `0.1.0-alpha`
  plugins/k8smeta/src/shared_with_tests_consts.h
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#387 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation
