Repository falcosecurity/plugins, pull requests merged in 2023-04, with the labels that each got.

#256 fix(plugins/cloudtrail): set accountId to recipientAccountId if not present
  plugins/cloudtrail/pkg/cloudtrail/extract.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, needs-ok-to-test, area/plugins

#254 fix: Typo in README.md
  README.md
Labels: dco-signoff: yes, approved, size/XS, lgtm, needs-ok-to-test

#258 feature(plugins/okta): add published timestamp field
  plugins/okta/README.md
  plugins/okta/pkg/okta/okta.go
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, ok-to-test, area/plugins

#260 fix(plugins/okta): adjust mappings in actor.id and client.zone
  plugins/okta/pkg/okta/okta.go
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, ok-to-test, area/plugins

#261 fix(plugins/okta): return nil if field not present
  plugins/okta/pkg/okta/okta.go
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, needs-ok-to-test, area/plugins

#262 fix(oci/CI): set arm architecture as "arm64" in manifests files
  build/registry/pkg/oci/const.go
  build/registry/pkg/oci/oci.go
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/registry

#263 update(plugin-versions): bump plugins and rules versions
  plugins/cloudtrail/pkg/cloudtrail/cloudtrail.go
  plugins/cloudtrail/rules/aws_cloudtrail_rules.yaml
  plugins/dummy/pkg/dummy/dummy.go
  plugins/dummy_c/dummy.cpp
  plugins/github/pkg/github/github.go
  plugins/github/rules/github.yaml
  plugins/json/pkg/json/json.go
  plugins/k8saudit-eks/pkg/k8sauditeks/k8sauditeks.go
  plugins/k8saudit/pkg/k8saudit/k8saudit.go
  plugins/k8saudit/rules/k8s_audit_rules.yaml
  plugins/okta/pkg/okta/okta.go
  plugins/okta/rules/okta_rules.yaml
Labels: dco-signoff: yes, approved, size/M, lgtm, area/plugins

#268 fix(ci): fixed semver matching release gha.
  .github/workflows/release.yml
Labels: dco-signoff: yes, approved, size/XS, lgtm

#270 chore(plugins/dummy/pkg/dummy/dummy.go): bump dummy plugin version to test release gha.
  plugins/dummy/pkg/dummy/dummy.go
Labels: dco-signoff: yes, approved, size/XS, lgtm

#271 fix(ci): fixed branch name push_master pipeline.
  .github/workflows/push_master.yml
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/build

#272 fix(ci): added permissions for S3 upload and volume mount on qemu.
  .github/workflows/push_master.yml
  .github/workflows/release.yml
Labels: kind/bug, dco-signoff: yes, approved, size/M, lgtm, area/build

#273 chore(release.md): updated release process CI documentation.
  release.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#267 chore(docs): more clear params
  plugins/github/README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation, needs-ok-to-test

#274 update(plugins/cloudtrail): Avoid duplicate event info
  plugins/cloudtrail/pkg/cloudtrail/extract.go
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/plugins
