Repository falcosecurity/plugins, pull requests merged in 2024-02, with the labels that each got.

#409 feat(cloudtrail): support s3 events
  plugins/cloudtrail/pkg/cloudtrail/extract.go
Labels: dco-signoff: yes, approved, size/M, lgtm

#410 feat(cloudtrail): bump cloudtrail plugin version to 0.11.0
  plugins/cloudtrail/rules/aws_cloudtrail_rules.yaml
Labels: dco-signoff: yes, approved, size/XS, lgtm

#411 fix(pkg/oci): trim spaces when handling required_engine_version
  build/registry/go.mod
  build/registry/pkg/oci/requirements.go
  build/registry/pkg/oci/requirements_test.go
  build/registry/pkg/oci/testdata/rules-failed-req.yaml
  build/registry/pkg/oci/testdata/rules-numeric-req.yaml
  build/registry/pkg/oci/testdata/rules-semver-req.yaml
Labels: kind/bug, dco-signoff: yes, approved, size/M, lgtm, area/build

#413 feat: add more Cloudtrail fields
  plugins/cloudtrail/README.md
  plugins/cloudtrail/pkg/cloudtrail/extract.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/plugins

#414 fix: remove s3 notification event extracted fields
  plugins/cloudtrail/pkg/cloudtrail/extract.go
Labels: dco-signoff: yes, approved, size/M, lgtm

#415 fix: s3.cnt.other condition
  plugins/cloudtrail/pkg/cloudtrail/extract.go
Labels: dco-signoff: yes, approved, size/XS, lgtm

#417 feat(cloudtrail): Add ct.response and ct.request field
  plugins/cloudtrail/README.md
  plugins/cloudtrail/pkg/cloudtrail/extract.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#418 feat(cloudtrail): Add generic additionalEventData field
  plugins/cloudtrail/README.md
  plugins/cloudtrail/pkg/cloudtrail/extract.go
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#421 docs(k8smeta): update k8smeta doc
  plugins/k8smeta/README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/plugins
