Repository falcosecurity/plugins, pull requests merged in 2024-05, with the labels that each got.

#481 Bump k8saudit-gke to 0.1.1 to release rules
  plugins/k8saudit-gke/CHANGELOG.md
  plugins/k8saudit-gke/pkg/k8sauditgke/k8sauditgke.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#486 ci: bump CodeQL to v3
  .github/workflows/codeql-analysis.yml
Labels: dco-signoff: yes, approved, lgtm, kind/failing-test, area/build, size/S

#492 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#493 docs(plugins/kafka): update description and contact
  plugins/kafka/pkg/kafka/kafka.go
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm

#494 fix(CI): use the repo URL as source of truth for plugin's owner
  build/registry/cmd/validateRegistry/validateRegistryFile.go
  build/registry/pkg/oci/const.go
  build/registry/pkg/oci/oci.go
Labels: dco-signoff: yes, approved, lgtm, size/S

#497 fix(ci): build plugins on debian bullseye
  .github/workflows/reusable_build_packages.yaml
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/build

#498 chore(plugin/cloudtrail): bump cloudtrail version to 0.10.0-rc1
  plugins/k8saudit/pkg/k8saudit/k8saudit.go
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/plugins

#499 chore(plugins): bump versions
  plugins/cloudtrail/pkg/cloudtrail/cloudtrail.go
  plugins/dummy/pkg/dummy/dummy.go
  plugins/gcpaudit/pkg/gcpaudit/gcpaudit.go
  plugins/github/pkg/github/github.go
  plugins/k8saudit/pkg/k8saudit/k8saudit.go
  plugins/kafka/pkg/kafka/kafka.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#502 update(plugins): update changelogs
  plugins/cloudtrail/CHANGELOG.md
  plugins/dummy/CHANGELOG.md
  plugins/dummy_c/CHANGELOG.md
  plugins/gcpaudit/CHANGELOG.md
  plugins/github/CHANGELOG.md
  plugins/json/CHANGELOG.md
  plugins/k8saudit-eks/CHANGELOG.md
  plugins/k8saudit-gke/CHANGELOG.md
  plugins/k8saudit/CHANGELOG.md
  plugins/k8smeta/CHANGELOG.md
  plugins/kafka/CHANGELOG.md
  plugins/okta/CHANGELOG.md
Labels: kind/documentation, dco-signoff: yes, approved, lgtm, size/L, area/plugins

#503 chore(build): add comment about upgrading debian version
  .github/workflows/reusable_build_packages.yaml
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/build
