Repository falcosecurity/plugins, pull requests merged in 2024-01, with the labels that each got.

#390 salesforce plugin
  registry.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#393 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#383 add refresh_interval parameter
  plugins/okta/CHANGELOG.md
  plugins/okta/README.md
  plugins/okta/pkg/okta/okta.go
Labels: kind/bug, kind/feature, dco-signoff: yes, approved, size/M, lgtm, kind/cleanup, area/plugins

#392 General rules clean up
  plugins/gcpaudit/rules/gcp_auditlog_rules.yaml
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, size/L, area/plugins

#394 fix(plugins/json): add check for empty ArgKey
  plugins/json/pkg/json/json.go
  plugins/json/pkg/json/json_test.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#395 update(json): bump version to 0.7.2
  plugins/json/pkg/json/json.go
Labels: dco-signoff: yes, approved, size/XS, lgtm

#373 update: plugin rules contains a semver required engine version and also new artifacts config layer
  build/registry/pkg/common/consts.go
  build/registry/pkg/oci/requirements.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, area/build, size/S, area/plugins

#396 chore(plugins/dummy): bump dummy to 0.10.0-rc1
  plugins/dummy/pkg/dummy/dummy.go
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#397 fix: move a log after verbosity initialization
  plugins/k8smeta/src/plugin.cpp
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#398 fix(ci): add debug line for not semver
  build/registry/pkg/oci/oci.go
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/build

#401 fix(ci): fix remote tag deletion/skipping
  build/registry/pkg/oci/oci.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, area/build, size/S

#402 update(build): add back PR #373
  build/registry/pkg/common/consts.go
  build/registry/pkg/oci/requirements.go
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, area/build, size/S

#405 update(registry.yaml): update the copyright
  registry.yaml
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/registry

#406 Registering Box plugin in registry.yaml
  registry.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#407 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation
