Repository falcosecurity/plugins, pull requests merged in 2024-09, with the labels that each got.

#527 feat: Added keycloak plugin to registry.yaml
  registry.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/registry

#529 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#528 fix:Do not output information that contains confidential data.
  plugins/k8saudit/rules/k8s_audit_rules.yaml
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/plugins
