Repository falcosecurity/plugins, pull requests merged in 2024-06, with the labels that each got.

#505 chore(ci): update cosign-installer to v3.5.0
  .github/workflows/reusable-publish-oci-artifacts.yaml
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/build

#507 feat(plugins/okta): introduce optional UseAsync field in okta plugin
  plugins/okta/pkg/okta/okta.go
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#506 update(cloudtrail): Update ct.resources handling
  plugins/cloudtrail/pkg/cloudtrail/cloudtrail.go
  plugins/cloudtrail/pkg/cloudtrail/extract.go
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/plugins

#510 docs: bulk update for changelogs
  plugins/cloudtrail/CHANGELOG.md
  plugins/dummy/CHANGELOG.md
  plugins/dummy_c/CHANGELOG.md
  plugins/gcpaudit/CHANGELOG.md
  plugins/github/CHANGELOG.md
  plugins/json/CHANGELOG.md
  plugins/k8saudit-eks/CHANGELOG.md
  plugins/k8saudit-gke/CHANGELOG.md
  plugins/k8saudit/CHANGELOG.md
  plugins/k8smeta/CHANGELOG.md
  plugins/kafka/CHANGELOG.md
  plugins/okta/CHANGELOG.md
Labels: kind/documentation, dco-signoff: yes, approved, lgtm, size/XXL, area/plugins
