Repository falcosecurity/plugins, pull requests merged in 2024-11, with the labels that each got.

#537 fix(proc/scan): scan all existing threads
  plugins/k8smeta/src/plugin.cpp
  plugins/k8smeta/test/src/parsing_pod.cpp
Labels: kind/bug, dco-signoff: yes, approved, size/M, lgtm

#538 fix(k8smeta): handle missing directories/files during /proc scan
  plugins/k8smeta/src/plugin.cpp
Labels: dco-signoff: yes, approved, lgtm, size/L

#539 chore(k8smeta): adjust logging level
  plugins/k8smeta/src/plugin.cpp
Labels: dco-signoff: yes, approved, lgtm, size/S, area/plugins

#540 chore(k8smeta): bump k8smeta version to 0.2.1
  plugins/k8smeta/src/shared_with_tests_consts.h
Labels: dco-signoff: yes, approved, size/XS, lgtm

#541 update(k8saudit): bump to v0.11
  plugins/k8saudit/pkg/k8saudit/k8saudit.go
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#542 fix(ci): add libelf-dev system dep for building packages
  .github/workflows/reusable_build_packages.yaml
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/failing-test, area/build

#535 update(k8smeta): improve k8smeta logging
  plugins/k8smeta/src/plugin.cpp
  plugins/k8smeta/src/plugin.h
Labels: kind/feature, dco-signoff: yes, approved, size/M, lgtm, area/plugins
