Repository falcosecurity/plugins, pull requests merged in 2025-03, with the labels that each got.

#650 update(plugins/cloudtrail): support pre-ControlTower organization trails
  plugins/cloudtrail/pkg/cloudtrail/cloudtrail.go
  plugins/cloudtrail/pkg/cloudtrail/source.go
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/plugins

#662 fix(.github): add go mod tidy for dependabot.yml
  .github/dependabot.yml
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm

#663 revert: fix(.github): add go mod tidy for dependabot.yml
  .github/dependabot.yml
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm

#675 chore(registry.yaml): small change to trigger the CI
  registry.yaml
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, size/S, area/registry

#679 chore(registry.yaml): small change to trigger the CI
  registry.yaml
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm

#683 fix(build): prevent race condition when dlopening a Go runtime embedd…
  build/utils/version.go
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/build

#684 update(build,plugins): bump plugin-sdk-go to 0.7.5.
  Makefile
  build/readme/go.mod
  build/readme/go.sum
  build/registry/go.mod
  build/registry/go.sum
  plugins/cloudtrail/go.mod
  plugins/cloudtrail/go.sum
  plugins/container/go-worker/go.mod
  plugins/container/go-worker/go.sum
  plugins/dummy/go.mod
  plugins/dummy/go.sum
  plugins/gcpaudit/go.mod
  plugins/gcpaudit/go.sum
  plugins/github/go.mod
  plugins/github/go.sum
  plugins/json/go.mod
  plugins/json/go.sum
  plugins/k8saudit-aks/go.mod
  plugins/k8saudit-aks/go.sum
  plugins/k8saudit-eks/go.mod
  plugins/k8saudit-eks/go.sum
  plugins/k8saudit-gke/go.mod
  plugins/k8saudit-gke/go.sum
  plugins/k8saudit-ovh/go.mod
  plugins/k8saudit-ovh/go.sum
  plugins/k8saudit/go.mod
  plugins/k8saudit/go.sum
  plugins/kafka/go.mod
  plugins/kafka/go.sum
  plugins/okta/go.mod
  plugins/okta/go.sum
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, area/build, size/L, area/plugins

#682 cleanup(registry): drop newline.
  registry.yaml
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup
