Repository falcosecurity/plugins, pull requests merged in 2025-09, with the labels that each got.

#946 fix(build/registry): re-introduce `RTLD_DEEPBIND` in plugin loader
  build/registry/go.mod
  build/registry/go.sum
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, kind/failing-test, area/build

#947 docs(plugins): bulk changelogs update
  plugins/anomalydetection/CHANGELOG.md
  plugins/cloudtrail/CHANGELOG.md
  plugins/collector/CHANGELOG.md
  plugins/container/CHANGELOG.md
  plugins/dummy/CHANGELOG.md
  plugins/dummy_c/CHANGELOG.md
  plugins/dummy_rs/CHANGELOG.md
  plugins/gcpaudit/CHANGELOG.md
  plugins/github/CHANGELOG.md
  plugins/json/CHANGELOG.md
  plugins/k8saudit-aks/CHANGELOG.md
  plugins/k8saudit-eks/CHANGELOG.md
  plugins/k8saudit-gke/CHANGELOG.md
  plugins/k8saudit-ovh/CHANGELOG.md
  plugins/k8saudit/CHANGELOG.md
  plugins/k8smeta/CHANGELOG.md
  plugins/kafka/CHANGELOG.md
  plugins/krsi/CHANGELOG.md
  plugins/okta/CHANGELOG.md
Labels: kind/documentation, dco-signoff: yes, approved, lgtm, kind/cleanup, size/XXL, area/plugins

#998 chore(plugins) Update k8saudit-* to k8saudit 0.16.0
  plugins/k8saudit-aks/go.mod
  plugins/k8saudit-aks/go.sum
  plugins/k8saudit-eks/go.mod
  plugins/k8saudit-eks/go.sum
  plugins/k8saudit-gke/go.mod
  plugins/k8saudit-gke/go.sum
  plugins/k8saudit-ovh/go.mod
  plugins/k8saudit-ovh/go.sum
Labels: dco-signoff: yes, approved, size/M, lgtm, kind/cleanup, area/plugins
