Repository falcosecurity/plugins, pull requests merged in 2025-01, with the labels that each got.

#548 new(plugins/k8saudit): add subject name fields
  plugins/k8saudit/README.md
  plugins/k8saudit/pkg/k8saudit/extract.go
  plugins/k8saudit/pkg/k8saudit/fields.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/plugins

#556 update(build): upgrade golang to 1.23
  .github/workflows/reusable_build_packages.yaml
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/build

#558 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#560 chore(ci): switch to use github provided arm runner.
  .github/workflows/reusable_build_packages.yaml
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup

#563 fix the rule to detect the exec in EKS
  plugins/k8saudit/rules/k8s_audit_rules.yaml
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#565 clean up update ci and add dependabot config
  .github/dependabot.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-comment.yaml
  .github/workflows/dummy_c-ci.yaml
  .github/workflows/k8smeta-ci.yaml
  .github/workflows/main.yaml
  .github/workflows/release.yml
  .github/workflows/reusable-publish-oci-artifacts.yaml
  .github/workflows/reusable_build_packages.yaml
  .github/workflows/reusable_build_rules_tool.yaml
  .github/workflows/reusable_get_changed_plugins.yaml
  .github/workflows/reusable_publish_packages.yaml
  .github/workflows/reusable_suggest_rules_version.yaml
  .github/workflows/reusable_upload_pr_info.yaml
  .github/workflows/reusable_validate_plugins.yaml
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, area/build, size/L

#580 fix(build/registry): downgrade to oras.land/oras-go/v2@v2.2.1
  build/registry/go.mod
  build/registry/go.sum
Labels: kind/bug, dco-signoff: yes, approved, lgtm, kind/failing-test, area/build, size/XL
