Repository falcosecurity/plugins, pull requests merged in 2025-04, with the labels that each got.

#704 chore(plugins/container): bump container plugin to 0.2.0.
  plugins/container/CMakeLists.txt
  plugins/container/src/macros.h.in
  plugins/container/src/plugin.h
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, size/S, area/plugins

#705 docs: fix incorrect cloud provider reference (AWS → Azure) for AKS
  registry.yaml
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#706 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#707 chore(plugins/container): broaden exceptions management.
  plugins/container/src/caps/extract/extract.cpp
  plugins/container/src/caps/listening/listening.cpp
  plugins/container/src/caps/parse/parse.cpp
  plugins/container/src/plugin.cpp
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, size/S, area/plugins

#716 chore(plugins/k8smeta): broaden exception mgmt.
  plugins/k8smeta/src/plugin.cpp
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, size/S, area/plugins

#721 fix(plugin/container): avoid overwriting host container info when loading pre-existing containers
  plugins/container/src/caps/async/async.cpp
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#722 update(cloudtrail): bump to v0.13.0
  plugins/cloudtrail/pkg/cloudtrail/cloudtrail.go
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#723 new(plugins/container): added fetcher tests.
  plugins/container/go-worker/pkg/container/containerd_test.go
  plugins/container/go-worker/pkg/container/cri.go
  plugins/container/go-worker/pkg/container/cri_test.go
  plugins/container/go-worker/pkg/container/docker_test.go
  plugins/container/go-worker/pkg/container/fetcher_test.go
  plugins/container/go-worker/pkg/container/podman_test.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, kind/cleanup, size/L, area/plugins

#726 bump plugin versions
  plugins/k8smeta/src/shared_with_tests_consts.h
Labels: dco-signoff: yes, approved, size/XS, lgtm

#738 new(plugins/container): suggest more output fields.
  plugins/container/src/caps/extract/extract.cpp
Labels: kind/feature, dco-signoff: yes, approved, size/M, lgtm, area/plugins

#742 fix(plugins/krsi): fix plugin version
  plugins/krsi/krsi/src/lib.rs
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#741 ci: trigger CI
  registry.yaml
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/registry

#743 fix(plugins/dummy_rs): sync `Cargo.lock`
  plugins/dummy_rs/Cargo.lock
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#745 doc: add support for `krsi` plugin field extraction doc auto-gen
  build/readme/fields.go
  plugins/krsi/README.md
  plugins/krsi/krsi/src/lib.rs
Labels: kind/documentation, dco-signoff: yes, approved, lgtm, area/documentation, size/L, area/plugins
