Repository falcosecurity/plugins, pull requests merged in 2025-05, with the labels that each got.

#750 ci: add config for dependabot to handle `cargo` dependencies
  .github/dependabot.yml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, area/build, size/S, area/plugins

#751 feat(plugins/krsi): add `protocol` field extraction support
  plugins/krsi/README.md
  plugins/krsi/example_rule.yaml
  plugins/krsi/krsi/src/krsi_event.rs
  plugins/krsi/krsi/src/lib.rs
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#746 vote: docs(plugins/krsi): add `ekoops` as maintainer
  plugins/krsi/OWNERS
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation, area/plugins

#758 fix(plugins/container): use an unique ctx for fetcher.
  plugins/container/go-worker/pkg/container/fetcher.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#755 get validation failure message from annotations in audit events from Validating Admission Policy
  plugins/k8saudit/README.md
  plugins/k8saudit/pkg/k8saudit/extract.go
  plugins/k8saudit/pkg/k8saudit/fields.go
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#762 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#763 fix(plugins/krsi/krsi-ebpf): send only interesting payload
  plugins/krsi/krsi-ebpf/src/auxmap.rs
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#764 fix(plugins/krsi): use safe ring buffer events parsing logic
  plugins/krsi/krsi-common/src/lib.rs
  plugins/krsi/krsi/src/krsi_event.rs
  plugins/krsi/krsi/src/lib.rs
Labels: kind/bug, dco-signoff: yes, approved, lgtm, kind/cleanup, size/XXL, area/plugins

#765 refactor(plugins/krsi/krsi-ebpf): rename `auxmap` to `auxbuf`
  plugins/krsi/krsi-ebpf/src/auxbuf.rs
  plugins/krsi/krsi-ebpf/src/main.rs
  plugins/krsi/krsi-ebpf/src/operations/bind.rs
  plugins/krsi/krsi-ebpf/src/operations/connect.rs
  plugins/krsi/krsi-ebpf/src/operations/linkat.rs
  plugins/krsi/krsi-ebpf/src/operations/mkdirat.rs
  plugins/krsi/krsi-ebpf/src/operations/open.rs
  plugins/krsi/krsi-ebpf/src/operations/renameat.rs
  plugins/krsi/krsi-ebpf/src/operations/socket.rs
  plugins/krsi/krsi-ebpf/src/operations/symlinkat.rs
  plugins/krsi/krsi-ebpf/src/operations/unlinkat.rs
  plugins/krsi/krsi-ebpf/src/shared_state.rs
  plugins/krsi/krsi/src/ebpf.rs
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, size/XL, area/plugins

#766 refactor(plugins/krsi/krsi-ebpf): change auxbuf internal naming conv
  plugins/krsi/krsi-ebpf/src/auxbuf.rs
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, size/L, area/plugins

#767 refactor(plugins/krsi/krsi-ebpf): remove auxbuf dep on ringbuf
  plugins/krsi/krsi-ebpf/src/auxbuf.rs
  plugins/krsi/krsi-ebpf/src/main.rs
  plugins/krsi/krsi-ebpf/src/operations/bind.rs
  plugins/krsi/krsi-ebpf/src/operations/connect.rs
  plugins/krsi/krsi-ebpf/src/operations/linkat.rs
  plugins/krsi/krsi-ebpf/src/operations/mkdirat.rs
  plugins/krsi/krsi-ebpf/src/operations/open.rs
  plugins/krsi/krsi-ebpf/src/operations/renameat.rs
  plugins/krsi/krsi-ebpf/src/operations/socket.rs
  plugins/krsi/krsi-ebpf/src/operations/symlinkat.rs
  plugins/krsi/krsi-ebpf/src/operations/unlinkat.rs
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, size/L, area/plugins

#768 refactor(plugins/krsi/krsi-ebpf): introduce auxbuf writer abstraction
  plugins/krsi/krsi-ebpf/src/auxbuf.rs
  plugins/krsi/krsi-ebpf/src/operations/bind.rs
  plugins/krsi/krsi-ebpf/src/operations/connect.rs
  plugins/krsi/krsi-ebpf/src/operations/linkat.rs
  plugins/krsi/krsi-ebpf/src/operations/mkdirat.rs
  plugins/krsi/krsi-ebpf/src/operations/open.rs
  plugins/krsi/krsi-ebpf/src/operations/renameat.rs
  plugins/krsi/krsi-ebpf/src/operations/socket.rs
  plugins/krsi/krsi-ebpf/src/operations/symlinkat.rs
  plugins/krsi/krsi-ebpf/src/operations/unlinkat.rs
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, kind/design, size/XL, area/plugins

#774 revert: update(plugins/k8saudit-gke): bump to v0.6.0
  plugins/k8saudit-gke/pkg/k8sauditgke/k8sauditgke.go
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/plugins

#784 docs(plugins/container): deprecation message for old `k8s` fields
  plugins/container/src/caps/extract/extract.cpp
Labels: kind/documentation, dco-signoff: yes, approved, size/M, lgtm, kind/cleanup, area/plugins

#785 refactor(plugins/krsi): remove `auxbuf` unsafe code using `zerocopy`
  plugins/krsi/Cargo.lock
  plugins/krsi/Cargo.toml
  plugins/krsi/krsi-common/Cargo.toml
  plugins/krsi/krsi-common/src/lib.rs
  plugins/krsi/krsi-ebpf/Cargo.toml
  plugins/krsi/krsi-ebpf/src/auxbuf.rs
  plugins/krsi/krsi/Cargo.toml
  plugins/krsi/krsi/src/krsi_event.rs
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, kind/design, size/L, area/plugins

#787 fix(plugins/krsi): properly handle `auxbuf` writing errors
  plugins/krsi/krsi-ebpf-core/src/lib.rs
  plugins/krsi/krsi-ebpf/src/auxbuf.rs
  plugins/krsi/krsi-ebpf/src/operations/bind.rs
  plugins/krsi/krsi-ebpf/src/operations/connect.rs
  plugins/krsi/krsi-ebpf/src/operations/linkat.rs
  plugins/krsi/krsi-ebpf/src/operations/mkdirat.rs
  plugins/krsi/krsi-ebpf/src/operations/open.rs
  plugins/krsi/krsi-ebpf/src/operations/renameat.rs
  plugins/krsi/krsi-ebpf/src/operations/socket.rs
  plugins/krsi/krsi-ebpf/src/operations/symlinkat.rs
  plugins/krsi/krsi-ebpf/src/operations/unlinkat.rs
  plugins/krsi/krsi-ebpf/src/operations/writer_helpers.rs
Labels: kind/bug, dco-signoff: yes, approved, lgtm, kind/cleanup, size/XL

#789 fetch pod security policy violations from K8s audit event annotations
  plugins/k8saudit/README.md
  plugins/k8saudit/pkg/k8saudit/extract.go
  plugins/k8saudit/pkg/k8saudit/fields.go
Labels: kind/feature, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#799 refactor(plugins/krsi/krsi-ebpf): use slices in auxbuf code
  plugins/krsi/krsi-ebpf/src/auxbuf.rs
  plugins/krsi/krsi-ebpf/src/main.rs
  plugins/krsi/krsi-ebpf/src/operations/bind.rs
  plugins/krsi/krsi-ebpf/src/operations/connect.rs
  plugins/krsi/krsi-ebpf/src/operations/linkat.rs
  plugins/krsi/krsi-ebpf/src/operations/mkdirat.rs
  plugins/krsi/krsi-ebpf/src/operations/open.rs
  plugins/krsi/krsi-ebpf/src/operations/renameat.rs
  plugins/krsi/krsi-ebpf/src/operations/socket.rs
  plugins/krsi/krsi-ebpf/src/operations/symlinkat.rs
  plugins/krsi/krsi-ebpf/src/operations/unlinkat.rs
  plugins/krsi/krsi-ebpf/src/operations/writer_helpers.rs
Labels: kind/documentation, dco-signoff: yes, approved, lgtm, kind/cleanup, kind/design, size/XL, area/plugins

#800 refactor(plugins/krsi/krsi): fix extracted field desc formatting
  plugins/krsi/krsi/src/lib.rs
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, size/L, area/plugins

#805 chore(plugins/container): bump version to 0.2.4
  plugins/container/CMakeLists.txt
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/plugins

#808 feat(plugins/krsi): add initial `renameat` parsing/extraction support
  plugins/krsi/README.md
  plugins/krsi/example_rules.yaml
  plugins/krsi/krsi/src/krsi_event.rs
  plugins/krsi/krsi/src/lib.rs
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/plugins
