Repository falcosecurity/plugins, pull requests merged in 2025-10, with the labels that each got.

#1012 test(container/go-worker): fix flaky tests
  plugins/container/go-worker/worker_test.go
Labels: dco-signoff: yes, approved, lgtm, kind/failing-test, size/L, area/plugins

#1016 feat(plugins/container)!: bump required schema version to `4.0.0`
  plugins/container/CMakeLists.txt
  plugins/container/cmake/modules/plugin-sdk-cpp.cmake
  plugins/container/src/caps/extract/extract.cpp
  plugins/container/src/caps/parse/parse.cpp
  plugins/container/src/consts.h
  plugins/container/src/macros.h.in
  plugins/container/src/plugin.cpp
  plugins/container/src/plugin.h
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/L, area/plugins

#1018 chore(plugins/container): bump to v0.4.0-rc1
  plugins/container/src/macros.h.in
Labels: dco-signoff: yes, approved, size/XS, lgtm, kind/cleanup, area/plugins
