Repository falcosecurity/plugins, pull requests merged in 2025-07, with the labels that each got.

#876 chore(plugins/container): let async_ctx own the fetcher channel.
  plugins/container/go-worker/pkg/container/fetcher.go
  plugins/container/go-worker/pkg/container/fetcher_test.go
  plugins/container/go-worker/worker_api.go
  plugins/container/src/plugin.cpp
Labels: dco-signoff: yes, approved, size/M, lgtm, kind/cleanup, area/plugins

#884 vote: docs: add `ekoops` as maintainer
  OWNERS
  plugins/krsi/OWNERS
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation, area/plugins

#885 feat: Add plugin for AWS ELB Access Log
  registry.yaml
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/registry

#896 docs(README.md): update plugin registry table
  README.md
Labels: kind/documentation, dco-signoff: yes, approved, size/XS, lgtm, area/documentation

#898 update(plugins/container): bump to v0.3.3
  plugins/container/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, approved, size/XS, lgtm, area/plugins

#899 fix(plugins/k8saudit-eks): Improve handling of events with the same timestamp
  shared/go/aws/cloudwatchlogs/cloudwatch.go
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/plugins
