Repository falcosecurity/plugins, pull requests merged in 2025-08, with the labels that each got.

#910 update(plugins): updated CHANGELOGS.
  plugins/container/CHANGELOG.md
  plugins/dummy_rs/CHANGELOG.md
  plugins/k8smeta/CHANGELOG.md
Labels: kind/documentation, dco-signoff: yes, approved, size/M, lgtm, area/plugins

#918 new(plugins/container): add pprof to go-worker demo executable.
  plugins/container/go-worker/main_exe.go
  plugins/container/go-worker/pkg/container/cri_test.go
  plugins/container/go-worker/pkg/container/docker_test.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#912 feat(cloudtrail): add iam.role and iam.policy fields
  plugins/cloudtrail/README.md
  plugins/cloudtrail/pkg/cloudtrail/extract.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#917 update(k8saudit): Add support for field offsets
  plugins/k8saudit/README.md
  plugins/k8saudit/go.mod
  plugins/k8saudit/go.sum
  plugins/k8saudit/pkg/k8saudit/extract.go
  plugins/k8saudit/pkg/k8saudit/source.go
Labels: kind/feature, dco-signoff: yes, approved, lgtm, size/S, area/plugins

#932 chore(build/registry): updated deps and fix build
  build/registry/go.mod
  build/registry/go.sum
Labels: dco-signoff: yes, approved, lgtm, kind/cleanup, kind/failing-test, area/build, size/XL

#931 fix(plugins/container): static linking libgcc/libstdc++ for legacy co…
  plugins/container/CMakeLists.txt
Labels: kind/bug, dco-signoff: yes, approved, lgtm, size/S, area/plugins
